@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: "Poppins", serif;
}

body {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(112, 74, 59, 0.9), rgba(0, 0, 0, 1)), url(https://assets.nflxext.com/ffe/siteui/vlv3/158a0e2a-cca4-40f5-86b8-11ea2a281b06/web_collection/IN-en-20241202-TRIFECTA-b3419e13-4d62-4763-9dd8-cd8b9bc0f321_large.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    overflow-x: hidden;
    width: 100%;
    max-width: 100vw;
}

.content {
    box-sizing: border-box;
    height: 13vh;
    min-height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 45px;
    width: 100%;
}

.logo {
    height: 40px;
}

.right {
    display: flex;
    gap: 12.5px;
    align-items: center;
}

select {
    background-color: #141213;
    color: white;
    border-radius: 25px;
    padding: 5px 35px;
    font-size: 15px;
    appearance: none;
}

select:active {
    outline: 2px solid white;
    outline-offset: 1px;
}

.langimg1 {
    filter: invert(100%);
    position: absolute;
    margin-top: 9px;
    margin-left: 15px;
}

.langimg2 {
    filter: invert(100%);
    position: absolute;
    margin-top: 9px;
    margin-left: -30px;
}

button {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 25px;
    padding: 5px 12px;
    font-size: 15px;
}

/* Tablet Styles */
@media only screen and (max-width: 1024px) {
    .content {
        padding: 5px 30px;
    }

    .herocontent {
        left: 80px;
        max-width: 500px;
    }

    .cont1 {
        font-size: 45px;
        line-height: 60px;
    }

    .area {
        width: 85%;
    }

    .area2 {
        width: 85%;
    }

    footer {
        width: 85%;
    }
}

/* Mobile Styles */
@media only screen and (max-width: 600px) {
    .logo {
        height: 30px;
    }

    .hero {
        height: 110vh;
        box-sizing: border-box;
    }

    select {
        font-size: 12.5px;
        padding: 5px 25px;
    }

    .langimg {
        height: 12.5px;
    }

    .langimg1 {
        margin-top: 9px;
        margin-left: 10px;
    }

    .langimg2 {
        margin-top: 8.5px;
        margin-left: -23px;
    }

    button {
        font-size: 12.5px;
        padding: 5px 8.5px;
    }

    .right {
        right: 20px;
    }

    .content {
        padding: 5px 20px;
    }
}

.hero {
    width: 100%;
    height: 110vh;
    margin-bottom: 0;
}

.heroposter {
    box-sizing: border-box;
    background-image: linear-gradient(to bottom, rgb(0, 0, 0), rgba(0, 0, 0, 0), rgba(112, 74, 59, 0.774)), url(https://assets.nflxext.com/ffe/siteui/vlv3/158a0e2a-cca4-40f5-86b8-11ea2a281b06/web_collection/IN-en-20241202-TRIFECTA-b3419e13-4d62-4763-9dd8-cd8b9bc0f321_large.jpg);
    background-size: cover;
    background-position: center;
    margin: auto;
    width: 94.5%;
    height: 525px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    clip-path: polygon(100% 0, 100% 100%, 75% 98%, 80% 98%, 50% 97.5%, 20% 98%, 25% 98%, 0 100%, 0 0);
}

.absimg {
    -webkit-filter: invert(100%);
    filter: invert(100%);
    margin-inline: -5px;
}

.heroimg2 {
    transform: rotate(180deg);
}

.buttons {
    box-sizing: border-box;
    height: 80px;
    width: 25px;
    border-radius: 25px;
    background-color: #333333;
    padding: 25px 0px;
}

.herocontent {
    position: absolute;
    top: 350px;
    left: 125px;
    color: white;
    max-width: 560px;
    line-height: 70px;
}

.cont1 {
    font-size: 50px;
    font-weight: 900;
}

.play {
    -webkit-filter: invert(100%);
    filter: invert(100%);
    margin-right: 5px;
}

.playbutton {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-top: 10px;
}

.blocks {
    background-color: #c4c4c4;
    height: 4px;
    width: 65px;
    border-radius: 25px;
}

.footcont {
    margin-top: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #c4c4c4;
    text-align: center;
    font-size: 18px;
}

.email-button {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.email {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 375px;
    height: 50px;
    background-color: #333333;
    border: 1px solid white;
    border-radius: 25px;
    text-indent: 20px;
    font-size: large;
    color: white;
    box-sizing: border-box;
}

.getbtn {
    width: 160px;
    height: 50px;
    padding-right: 35px;
    background-color: red;
    color: #ffffff;
    font-size: 20px;
    font-weight: 500;
    position: relative;
}

.getcont {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-right: -2px;
}

.getarrow {
    filter: invert(100%);
    transform: rotate(180deg) scale(1);
    position: absolute;
    bottom: 7px;
}

/* Tablet Styles for Hero */
@media only screen and (max-width: 1024px) {
    .heroposter {
        width: 92%;
        height: 480px;
        padding: 25px;
    }

    .herocontent {
        top: 320px;
        left: 100px;
    }

    .cont1 {
        font-size: 42px;
        line-height: 55px;
    }

    .cont2 {
        font-size: 18px;
    }

    .email {
        width: 320px;
    }

    .getbtn {
        width: 150px;
        height: 48px;
    }
}

/* Mobile Styles for Hero */
@media only screen and (max-width: 600px) {

    .hero {
        height: auto;
        min-height: 100vh;
        padding-bottom: 20px;
    }

    .buttons {
        display: none;
    }

    .heroposter {
        background-image: linear-gradient(to bottom, rgb(0, 0, 0), rgba(0, 0, 0, 0), rgba(112, 74, 59, 0.774)), url(https://assets.nflxext.com/ffe/siteui/vlv3/158a0e2a-cca4-40f5-86b8-11ea2a281b06/web_collection/IN-en-20241202-TRIFECTA-b3419e13-4d62-4763-9dd8-cd8b9bc0f321_large.jpg);
        width: 90%;
        height: 450px;
    }

    .herocontent {
        top: 60%;
        left: 10%;
        max-width: 275px;
        line-height: 40px;
    }

    .cont1 {
        font-size: 25px;
        font-weight: 900;
    }

    .cont2 {
        font-size: 14px;
    }

    .blocks {
        width: 35px;
    }

    .footcont {
        font-size: 13.5px;
        max-width: 300px;
        margin: auto;
        margin-top: 30px;
    }

    .email-button {
        flex-direction: column;
        align-items: center;
    }

    .email {
        width: 80vw;
        max-width: 350px;
        height: 50px;
        margin: auto;
    }

    .getbtn {
        margin: auto;
        width: 135px;
        height: 5.5vh;
        padding-right: 35px;
        font-size: 18px;
        font-weight: normal;
        position: relative;
    }

    .getarrow {
        transform: rotate(180deg) scale(0.75);
        bottom: 2px;
    }
}

.area {
    margin: 0 auto;
    width: 78%;
    height: auto;
    min-height: 985px;
    color: #ffffff;
    font-weight: 700;
    font-size: 30px;
    padding-bottom: 50px;
    padding-top: 30px;
}

.flex {
    display: flex;
    margin-bottom: 50px;
    overflow-x: auto;
    overflow-y: hidden;
    gap: 10px;
    padding-bottom: 5px;
}

.flex::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for Firefox */
.flex {
    scrollbar-width: none;
}

/* Hide scrollbar for IE and Edge */
.flex {
    -ms-overflow-style: none;
}

.pad {
    margin-bottom: 10px;
}

.tiles {
    box-sizing: border-box;
    background-color: #c4c4c4;
    height: 260px;
    min-width: 190px;
    flex-shrink: 0;
    border-radius: 25px;
    transition: transform 0.3s ease;
}

.tiles:hover {
    transform: scale(1.05);
}


/* Tablet Styles for Content Area */
@media only screen and (max-width: 1024px) {
    .area {
        width: 85%;
    }

    .pad {
        font-size: 26px;
    }

    /* Trending and Only on Netflix */
    .trending,
    .onlyonnetflix {
        gap: 12px;
    }

    .tiles {
        min-width: 160px;
        height: 220px;
        margin-left: 0;
        margin-right: 12px;
    }

    .tiles:first-child {
        margin-left: 0;
    }

    /* More Reasons to Join */
    .reasons {
        flex-wrap: wrap;
        gap: 15px;
    }

    .foottiles {
        width: 230px;
        height: 150px;
    }

    .boxcont {
        font-size: 18px;
        width: 180px;
    }
}

/* Mobile Styles for Content Area */
@media only screen and (max-width: 600px) {

    .area {
        width: 90%;
        height: auto;
        box-sizing: border-box;
        padding: 20px 10px 0;
        margin-top: 0;
    }

    .pad {
        font-size: 20px;
        margin-bottom: 15px;
    }

    /* Trending and Only on Netflix - Horizontal Scroll */
    .trending,
    .onlyonnetflix {
        display: flex;
        overflow-x: auto;
        overflow-y: hidden;
        gap: 10px;
        margin-bottom: 30px;
        padding-bottom: 10px;
        scroll-snap-type: x mandatory;
    }

    .trending::-webkit-scrollbar,
    .onlyonnetflix::-webkit-scrollbar {
        display: none;
    }

    .trending,
    .onlyonnetflix {
        scrollbar-width: none;
        -ms-overflow-style: none;
    }

    .trending .tiles,
    .onlyonnetflix .tiles {
        background-color: #c4c4c4;
        height: 150px;
        min-width: 110px;
        max-width: 110px;
        flex-shrink: 0;
        border-radius: 12px;
        margin-left: 0;
        scroll-snap-align: start;
    }

    /* More Reasons to Join - Grid Layout */
    .reasons {
        display: grid !important;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
        margin-bottom: 30px;
        overflow: visible;
        justify-items: stretch;
    }

    .reasons .foottiles {
        width: 100%;
        margin: 0;
    }
}

.foottiles {
    position: relative;
    background-color: #272727;
    height: 160px;
    width: 260px;
    margin-right: 10px;
    border-radius: 25px;
}

.boxcont {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 195px;
    font-weight: 400;
    font-size: 20px;
    position: relative;
    top: 15px;
    left: 15px;
}

.boximg {
    height: 60px;
    position: relative;
    top: 45px;
    right: -180px;
}

.bimg3 {
    height: 50px;
    position: relative;
    top: 75px;
    right: -185px;
}

.bimg4 {
    height: 50px;
    position: relative;
    top: 50px;
    right: -185px;
}

/* Tablet Styles for Reasons Section */
@media only screen and (max-width: 1024px) {
    .reasons {
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: 15px;
    }

    .foottiles {
        margin-bottom: 0;
        margin-right: 0;
    }
}

/* Mobile Styles for Reasons Section */
@media only screen and (max-width: 600px) {
    .foottiles {
        height: auto;
        min-height: 80px;
        width: 100%;
        margin: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 15px;
        box-sizing: border-box;
        gap: 10px;
    }

    .boxcont {
        width: auto;
        flex: 1;
        text-align: left;
        font-size: 14px;
        left: 0;
        top: 0;
        transform: none;
        position: relative;
    }

    .boximg {
        height: 40px;
        width: 40px;
        position: relative;
        flex-shrink: 0;
        top: 0;
        right: 0;
    }

    .bimg1 {
        height: 40px;
        width: 40px;
    }

    .bimg2 {
        height: 40px;
        width: 40px;
    }

    .bimg3 {
        height: 35px;
        width: 35px;
    }

    .bimg4 {
        height: 35px;
        width: 35px;
    }
}

.area2 {
    margin: auto;
    width: 78%;
    height: auto;
    min-height: 705px;
    color: #ffffff;
    font-weight: 700;
    font-size: 30px;
    padding-bottom: 30px;
}

.qtiles {
    background-color: #272727;
    color: #ffffff;
    font-weight: 500;
    font-size: large;
    height: 75px;
    width: 97.5%;
    margin-bottom: 7.5px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    border: 1px solid gray;
}

.Plus {
    -webkit-filter: invert(100%);
    filter: invert(100%);
    transform: scale(1.2);
    height: 15px;
    position: absolute;
    right: 14%;
}

.bottombtn {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.getbtn2 {
    margin: 40px auto 10px;
    width: 150px;
    height: 40px;
    background-color: red;
    color: #ffffff;
    font-size: 15px;
    font-weight: 600;
}

.footcontent {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #c4c4c4;
    text-align: center;
    font-size: 18px;
    font-weight: normal;
}

footer {
    color: white;
    height: auto;
    min-height: 65vh;
    width: 78%;
    margin: auto;
    padding-bottom: 20px;
}

.query,
u {
    margin-top: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.others {
    display: flex;
    column-gap: 17.5px;
}

.footblock {
    margin: 40px 0px;
    height: 150px;
    width: 235px;

}

a {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #c4c4c4;
    line-height: 33px;
}

.netin {
    margin: 40px 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #c4c4c4;
}


/* Tablet Styles for FAQ and Footer */
@media only screen and (max-width: 1024px) {
    .area2 {
        width: 85%;
        height: auto;
    }

    .qtiles {
        font-size: 16px;
        padding-left: 15px;
    }

    .Plus {
        right: 10%;
    }

    footer {
        width: 85%;
        height: auto;
        padding-bottom: 30px;
    }

    .others {
        flex-wrap: wrap;
        gap: 20px;
    }

    .footblock {
        width: 200px;
    }
}

/* Mobile Styles for FAQ and Footer */
@media only screen and (max-width: 600px) {

    .area2 {
        width: 90%;
        height: auto;
        box-sizing: border-box;
        padding: 0 10px;
    }

    .pad {
        font-size: 20px;
    }

    .qtiles {
        font-size: 14px;
        height: auto;
        min-height: 65px;
        padding: 15px;
        margin-bottom: 10px;
    }

    .questions {
        max-width: 85%;
        display: block;
    }

    .Plus {
        right: 5%;
        height: 12px;
    }

    .getbtn2 {
        width: 130px;
        height: 38px;
        font-size: 14px;
    }

    .footcontent {
        font-size: 15px;
        padding: 0 20px;
    }

    footer {
        width: 90%;
        height: auto;
        padding-bottom: 30px;
    }

    .query {
        font-size: 14px;
    }

    .others {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }

    .footblock {
        margin: 15px 0px;
        height: auto;
        width: 100%;
    }

    a {
        font-size: 13px;
        line-height: 28px;
    }

    .bottom {
        margin-top: 20px;
    }

    .netin {
        font-size: 13px;
    }
}


/* Extra Small Mobile Devices */
@media only screen and (max-width: 400px) {
    .logo {
        height: 25px;
    }

    select {
        font-size: 11px;
        padding: 4px 20px;
    }

    button {
        font-size: 11px;
        padding: 4px 7px;
    }

    .content {
        padding: 5px 15px;
    }

    .heroposter {
        width: 88%;
        height: 400px;
        padding: 20px;
    }

    .herocontent {
        top: 55%;
        left: 8%;
        max-width: 240px;
        line-height: 35px;
    }

    .cont1 {
        font-size: 22px;
    }

    .cont2 {
        font-size: 13px;
    }

    .footcont {
        font-size: 12px;
        max-width: 260px;
    }

    .email {
        width: 85vw;
        height: 45px;
        font-size: 14px;
    }

    .getbtn {
        width: 120px;
        font-size: 16px;
    }

    .area, .area2 {
        width: 95%;
    }

    .pad {
        font-size: 18px;
    }

    .trending .tiles,
    .onlyonnetflix .tiles {
        min-width: 100px;
        max-width: 100px;
        height: 140px;
    }

    .reasons {
        grid-template-columns: 1fr !important;
        gap: 10px;
    }

    .foottiles {
        width: 100%;
        max-width: 100%;
    }

    .qtiles {
        font-size: 13px;
        padding: 12px;
    }

    footer {
        width: 95%;
    }

    .footblock {
        width: 100%;
    }

    a {
        font-size: 12px;
    }
}

/* Large Desktop Screens */
@media only screen and (min-width: 1440px) {
    .content {
        padding: 5px 80px;
    }

    .heroposter {
        max-width: 1400px;
        height: 600px;
    }

    .herocontent {
        left: 150px;
        max-width: 650px;
    }

    .cont1 {
        font-size: 60px;
        line-height: 80px;
    }

    .cont2 {
        font-size: 24px;
    }

    .email {
        width: 450px;
        height: 60px;
        font-size: 18px;
    }

    .getbtn {
        width: 180px;
        height: 60px;
        font-size: 22px;
    }

    .area, .area2, footer {
        max-width: 1400px;
    }

    .pad {
        font-size: 36px;
    }

    .tiles {
        min-width: 220px;
        height: 300px;
    }

    .foottiles {
        width: 300px;
        height: 180px;
    }

    .boxcont {
        font-size: 22px;
        width: 220px;
    }

    .qtiles {
        height: 85px;
        font-size: 20px;
    }
}
